#product,
#quantity,
.button {
	height: 60px;
	border-radius: 5px;
	border: 1px solid rgb(167, 162, 162);
	outline: none;
	font-family: sans-serif, monospace;
	font-size: 20px;
	padding:10px 5px;
	margin:15px 5px 10px 0px ;
}
.topBar{
	display: block;
}
#product{
 width:70%;
}
#quantity{
 width:15%;
}
.button{
  width:10%;
  border-color:transparent;
  font-weight: bold;
}

.results {
	width: 55%;
	border-radius: 5px 5px 0px 0px;
}



.window-content {
	padding: 0px 10px !important;
}
.results {
	border: 1px solid rgb(201, 187, 187);
	background-color: rgb(247, 241, 241);
	min-height: 50px;
	position: absolute;
	border-radius: 0px 0px 5px 5px;
	transition: 1s ease;
	z-index: 2;
}
.card {
	width: 30%;
	float: left;
	height: 200px;
	border: 1px solid rgb(201, 187, 187);
	background-color: rgb(247, 241, 241);
	border-radius: 20px;
	margin-left: 13%;
	text-align: center;	
	padding: 5px;
	align-items: center;
	
}
.received .heading,
.return .heading {
	font-size: 20px;
}

.amount {
	font-size: 50px;
    font-weight: bold;
    width: 200px;
    margin: 10px auto;
    border: none;
    background-color: rgb(247, 241, 241);
    text-align: center;
    appearance: none;
} 

.amount::-webkit-inner-spin-button, 
.amount::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#finalize-btn{
    width: 100% !important;
    text-align: center !important;
    margin: 20px 0px 0px 0px !important;

    font-size: 50px !important;
    font-weight: bold !important;
	cursor: pointer;
	position: sticky;
	bottom:0%;
}

.window{
  overflow-y: auto;
}




th {
	font-weight: bold;
}
th,
td {
	padding: 8px !important;
}
